		</div>

	<div class="container_footer">
		<hr>
		<div class="footermsg">This <b>Departures</b> app is the sole and original work of <b>Eric Ka-Yeung Leung</b> (ekleung123@gmail.com).&nbsp; The source code is posted in a GitHub repository named <b>Departures</b> at <a href="https://github.com/rodentgeek"> https://github.com/rodentgeek</a>.<br><br></div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>