<!--     Reuse this form element as it's used twice -->

    <label for="flight[status]">Status</label>
    <div class="radio">
      <label><input type="radio" name="flight[status]" id="On-time" value="On-time" checked>On-time</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="flight[status]" id="Boarding" value="Boarding">Boarding</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="flight[status]" id="LastCall" value="LastCall">Last Call</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="flight[status]" id="Departed" value="Departed">Departed</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="flight[status]" id="Delayed" value="Delayed">Delayed</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="flight[status]" id="Canceled" value="Canceled">Canceled</label>
    </div>